<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shared Files</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'dashboard' %}">P2P FILE SHARING</a>
    </nav>
    <div class="container mt-5">
        <h2 class="text-center">Shared Files</h2>
        <br>
        <!-- Search Form with Inline Filters -->
        <form method="GET" action="{% url 'shared_files' %}" class="mb-4">
            <div class="form-row align-items-center">
                <!-- Search Query -->
                <div class="col">
                    <input type="text" name="search" class="form-control" placeholder="File name..." value="{{ request.GET.search }}">
                </div>

                <!-- File Type Dropdown -->
                <div class="col">
                    <select name="file_type" class="form-control">
                        <option value="">All Types</option>
                        <option value="document" {% if request.GET.file_type == "document" %}selected{% endif %}>Document</option>
                        <option value="video" {% if request.GET.file_type == "video" %}selected{% endif %}>Video</option>
                        <option value="image" {% if request.GET.file_type == "image" %}selected{% endif %}>Image</option>
                        <option value="audio" {% if request.GET.file_type == "audio" %}selected{% endif %}>Audio</option>
                    </select>
                </div>

                <!-- Submit Button -->
                <div class="col-auto">
                    <button class="btn btn-secondary" type="submit">Filter</button>
                </div>
            </div>
        </form>

        <ul class="list-group" style="color: black;">
            {% for file in files %}
            <li class="list-group-item">
                <strong>File Name: </strong><a href="{{ file.file.url }}" target="_blank">{{ file.description }}</a>&emsp;&emsp;
                <strong>File Type: </strong><span>{{ file.file_type }}</span>&emsp;&emsp;
                <strong>Date: </strong><span>{{ file.uploaded_at|date:"Y-m-d" }}</span>&emsp;&emsp;
                <strong>Time: </strong><span>{{ file.uploaded_at|date:"H:i" }}</span>&emsp;&emsp;
            </li>
            {% empty %}
                <p class="text-center" style="color: white;">No files found.</p>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
