<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View File Requests</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body class="bg-dark text-light">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'dashboard' %}">P2P FILE SHARING</a>
    </nav>
    <div class="container mt-5">
        <h2 class="text-center">Active Requests</h2><br><br>
        <ul class="list-group">
            {% for request in file_requests %}
                <li class="list-group-item" style="color: black;">
                    <strong>File:</strong> {{ request.file_name }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <strong>File Type:</strong> {{ request.file_type }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <strong>Requester:</strong> {{ request.requester.username }}&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
                    <strong>Date:</strong> {{ request.requested_at|date:"Y-m-d"  }}&emsp;&emsp;&emsp;&emsp;&emsp;
                    <strong>Time:</strong> {{ request.requested_at|date:"H:i"  }}
                    {% if request.status == 'Pending' %}
                    <form action="{% url 'upload_file' %}" method="GET">
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <button type="submit" class="btn btn-secondary">Upload</button>
                    </form>
                    <!-- <form action="{% url 'upload_file' %}" method="GET">
                        <input type="hidden" name="request_id" value="{{ request.id }}">
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form> -->
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>